@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');

body {
    background-color: rgb(28, 28, 28);
    color: rgb(235, 235, 235);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;

    font-family: 'Barlow Condensed', sans-serif;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0px;
    box-sizing: border-box;
}

article {
    font-size: 18;
}

footer {
    background-color: rgb(29, 29, 29);
    text-align: center;
    /* position: absolute; */
    width: 100%;
    bottom: 0px;
    left: 0px;
}

select {
    border: 2px solid rgba(235, 235, 235, 0.575);
    border-radius: 25px;
    background-color: transparent;
    color: rgb(235, 235, 235, 0.575);
    padding: 2 2px;
}
select:hover {
    border: 2px solid rgb(235, 235, 235);
}
select:focus {
    border: 2px solid rgb(235, 235, 235);
    border-radius: 25px;
    background-color: transparent;
    padding: 2 2px;
}

select option {
    background-color: rgb(36, 36, 36);
}

ul, li {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 10px;
    margin: 0;
    font-family: Staatliches;
}

h2, h3 {
    font-family: Staatliches;
}

::selection {
    background-color: rgb(197, 145, 31);
    color: rgb(235, 235, 235);
}

/* :link { */
    /* color: rgb(197, 145, 31); */
/* } */
/* :visited { */
    /* color: rgb(221, 161, 32); */
/* } */