.row {
  display: flex;
  flex-wrap: wrap;
  padding: 8 8px;
}

.column {
  flex: 50%;
  padding: 8 8px;
}

.column img {
  margin-top: 4px;
  vertical-align: middle;
  max-height:390px;
  height:390px;
}