.link-block {
    padding: 2% 15%;
}
.link-block div {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 3fr 1fr;

    column-gap: 5%;

    background-color: rgb(20, 20, 20);
    border: 5p solid rgb(235, 235, 235);
    border-radius: 25px;
    padding: 15 3%;
}
.link-block img {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 4;

    width: 100%;
    align-self: flex-start;
}
.link-block h2 {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;

    text-align: justify;
}
.link-block p {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;

    text-align: justify;
}
.link-block a {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;
}

@media screen and (max-width: 897px){
        .link-block div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 9fr 2fr 1fr;

        column-gap: 5%;
        padding: 15 3%;
    }
    .link-block img {
        grid-column-start: 1;
        grid-column-end: 4;

        grid-row-start: 2;
        grid-row-end: 3;

        width: 100%;
    }
    .link-block h2 {
        grid-column-start: 1;
        grid-column-end: 4;

        grid-row-start: 1;
        grid-row-end: 2;

        text-align: center;
    }
    .link-block p {
        grid-column-start: 1;
        grid-column-end: 4;

        grid-row-start: 3;
        grid-row-end: 4;
    }
    .link-block a.button.right {
        grid-column-start: 2;
        grid-column-end: 4;

        grid-row-start: 4;
        grid-row-end: 5;
    }
    .link-block a.button.left {
        grid-column-start: 2;
        grid-column-end: 4;

        grid-row-start: 3;
        grid-row-end: 4;
    }
}

@media screen and (max-width: 742px){
        .link-block div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr 1.5fr .5fr;

        column-gap: 5%;
        padding: 15 3%;
    }
}

@media screen and (max-width: 615px){
        .link-block div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 1.5fr .5fr;

        column-gap: 5%;
        padding: 15 3%;
    }
}

@media screen and (max-width: 514px){
        .link-block div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 1.5fr 1fr .2fr;

        column-gap: 5%;
        padding: 15 3%;
    }
}

@media screen and (max-width: 403px){
        .link-block div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .3fr 1fr 1fr .05fr;

        column-gap: 5%;
        padding: 15 3%;
    }
}