.link-block {
    background-color: black;
    padding: 2% 15%;
    border: 5p solid rgb(235, 235, 235);
    border-radius: 0%;
}

.link-block img {
    display: inline;
    
}

.link-block p {
    
}

.link-block a {
    
}